@import url("https://fonts.googleapis.com/css?family=Lobster");
h1 {
  padding-bottom: 2rem;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  padding: 10px;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
}

.btn-action {
  background-color: rgb(72, 152, 32);
  border: 1px solid white;
  border-radius: 1.5rem;
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 0;
  display: inline-block;
  width: 150px;
}

.btn-action:hover {
  background-color: white;
  border: 1px solid rgb(72, 152, 32);
  color: rgb(72, 152, 32);
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-height: 70vh;
}

.h1-title {
  font-size: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .h1-title {
    font-size: 3.5rem;
  }
}
.home-info {
  padding: 4rem;
}

.home-info p {
  width: 100%;
  font-size: 1.25rem;
}

@media only screen and (min-width: 992px) {
  .home-info p {
    width: 55%;
  }
}
.font-lobster {
  font-family: "Lobster", sans-serif;
  color: rgb(72, 152, 32);
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-brand:hover {
  color: rgb(72, 152, 32);
}

.carousel img {
  object-fit: cover;
  padding: 0;
}

.carousel-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.section-quote {
  background-color: rgb(228, 254, 215);
  color: rgb(72, 152, 32);
  padding: 4rem 2rem;
}

.quote {
  font-size: 4rem;
  width: 60%;
  text-align: center;
}

.section-research {
  padding: 4rem 2rem;
}

.section-research p {
  padding-top: 1rem;
  /* mq 55% */
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .section-research p {
    width: 55%;
  }
}
.center-text {
  display: flex;
  justify-content: center;
}

.research-hr {
  width: 100px;
  background-color: rgb(72, 152, 32);
  height: 4px;
  margin: 1rem 0 2rem 0;
}

.nav-link {
  color: rgb(72, 152, 32);
}

.nav-link:hover {
  color: #82dd55;
}

.form {
  width: fit-content;
  padding: 4rem 3rem;
  background-color: rgb(228, 254, 215);
  border-radius: 1rem;
}

.form * {
  margin-bottom: 1.5rem;
}

.username h5,
.password h5,
.username input,
.password input {
  margin-bottom: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.center-flex {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(228, 254, 215);
}

.body-container {
  width: 100vw;
  max-width: 1440px;
  height: auto;
  min-height: 100vh;
  padding: 20px;
  background-color: #fff;
}

.generic {
  text-align: center;
  padding: 10px;
  background-color: #ebebeb;
  margin: 10px;
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.recipe {
  width: 350px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #ebebeb;
}

button:hover,
.recipe:hover {
  box-shadow: 0 0 10px rgb(72, 152, 32);
  outline: 1px solid rgb(72, 152, 32);
  cursor: pointer;
}

.difficulty {
  padding: 3px 10px;
  border-radius: 20px;
  color: #fff;
}

.easy {
  background-color: #82dd55;
}

.medium {
  background-color: #edb95e;
}

.difficult {
  background-color: #e23636;
}

.full-recipe {
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.recipe-img-container {
  width: 340px;
  display: block;
  position: relative;
}

.recipe-img {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}

.ingredients {
  text-align: left;
}

.link,
a {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: rgb(72, 152, 32);
}

.icon {
  width: 20px;
  height: 20px;
  line-height: 1rem;
  display: block;
  font-size: 1rem;
  position: absolute;
  right: 60px;
  top: 30px;
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 50%;
  color: #eee;
}

.star {
  font-size: 1.5rem;
  right: 30px;
  top: 30px;
}

.favorite,
.star:hover {
  color: #edb95e;
  cursor: pointer;
}

.notes-icon {
  font-size: 1rem;
  right: 60px;
  top: 30px;
}

.notes {
  margin-bottom: 20px;
}

.favorite-recipes-container,
.recipes-with-notes-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 20px;
}

.notes-container {
  text-align: left;
}

.user-view h3 {
  margin-top: 40px;
}

@media only screen and (min-width: 992px) {
  .full-recipe {
    max-width: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .recipe-title {
    grid-area: 1/2/2/4;
  }
  .recipe-img-container {
    grid-area: 2/1/3/2;
  }
  .recipe-ingredients {
    grid-area: 2/2/3/4;
  }
  .recipe-instructions {
    grid-area: 3/2/4/4;
  }
  .recipe-notes {
    grid-area: 4/2/5/4;
  }
  .recipe-action-btn {
    grid-area: 5/2/6/4;
  }
}

/*# sourceMappingURL=App.css.map */
